.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

/.vscode

#ignore the folder called build 
#/build

#ignore the folder called build anywhere, but not files called build
build/
tmp/
.vscode/
